body {
  background: #080808;
  color: #fff;
}
a {
  color: #fff;
  text-decoration: none;
}
.container {
  background: linear-gradient(rgba(0, 0, 0, 0.6), #3fada8);
  border-radius: 10px;
  padding: 40px 10%;
}
